body {
    background-color: thistle;
}

header {
    background-color: rgb(241, 243, 101);
    height: 80px;
    margin: 0px;
    margin-top: 15px;
    padding-top: 25px;
    text-align: center;
    font-size: 28px;
    /* width: 700px; */
}
.container {
    grid-template-columns: 1fr;
    grid-template-areas: 
    "sidebar"

}

.img {
    background-color: wheat;
    margin: 0px;
    margin-top: 15px;
    
    padding-top: 25px;
    padding-left: 400px;
    height: 350px;

}
.ch {
    /* background-color: wheat; */
    position: relative;
    bottom: 20px;


}
.ul {
    grid-area: sidebar;
    /* background-color: wheat; */
    margin: 0px;
    margin-top: 15px;
    padding-top: 25px;
    position: relative;
    bottom: 400px;
    left: 100px;
    


}

footer {
    background-color: rgb(241, 243, 101);
    
    height: 80px;
    margin: 0px;
    margin-top: 15px;
    padding-top: 25px;
}

