/* font-family: 'Stick', sans-serif; */

body {
    background-color: thistle;
}

header {
    background-color: rgb(241, 243, 101);
    height: 80px;
    
    margin-top: 15px;
    padding-top: 25px;
    text-align: center;
    font-size: 28px;
    /* width: 700px; */
}
.container {
    grid-template-columns: 1fr;
    grid-template-areas: 
    "sidebar"

}

.img {
    background-color: wheat;
    
    margin-top: 15px;
    
    padding-top: 25px;
    padding-left: 400px;
    height: 350px;

}
.ch {
    /* background-color: wheat; */
    position: relative;
    bottom: 20px;


}
.ul {
    grid-area: sidebar;
    /* background-color: wheat; */
    
    margin-top: 15px;
    padding-top: 25px;
    position: relative;
    bottom: 400px;
    left: 100px;
    


}

.button {
    background-color: yellowgreen;
    
    height: 40px;
    position: relative;
    bottom: 370px;
    left: 100px;
    
}

footer {
    background-color: rgb(241, 243, 101);
    
    height: 80px;
    
    margin-top: 15px;
    padding-top: 25px;
}
.mo {
    height: 100px;
    width: 100px;
    position: relative;
    bottom:20px;
    right: 560px;
    
}
.bu {
    font-family: 'Stick', sans-serif;
    font-size: 50px;
    color: rgb(141, 21, 0);
    position: relative;
    bottom: 90px;
}
.i1 {
    
    position: relative;
    padding: 8px;

}
.i2 {position: relative;
    padding: 8px;
    

}
.i3 {
    position: relative;
    padding: 8px;
    
}